.NoNews{
    width: 100%;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}

.NoNews div{
    color: #c22e2c;
    background-color: #fff;
    border-color: #ebccd1;
    padding: 2vh 2vw;
    border-radius: 3px;
}

.News{
    overflow: hidden;
    position: absolute;
    background: #fff;
    top: 0;
    z-index: 100;
    padding-top: 6vh;
    max-height: 94vh;
}

.News .cardHolder{
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    padding-bottom: 10px;
}

.cardHolder::-webkit-scrollbar{
    width: 0px;
}

.close{
    width: 100vw;
    height: auto;
    padding-top: 5px;
    color: #fff;
    background: #7873f5;
    cursor: pointer;
    box-shadow: 1px 2px 3px #999;
    position: fixed;
    top: 0;
}

.close span{
    position: relative;
    top:-6px;
    left: 7px;
}

.close i{
    border-right: 1px solid #fff;
}

.cardParent{
    width: 23%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: .75% 0px;
    position: relative;
    box-shadow: 1px 1px 5px #999999;
}

.cardParent img{
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

 
.card0{
    filter: grayscale(0.35);
}

/* .cardBody{
    position: absolute;
    top: 200px;
    margin: 0;
    width: 100%;
} */

.title0{
    width: auto;
    font-size: 14px;
    background: #263238;
    font-weight: bold;
    padding: 2vh 1vw;
    border-left: 5px solid #2d7cbb;
    border-right: 5px solid #2d7cbb;
}

.cardBody hr{
    margin: 0;
}

.desc{
    padding: 1vw;
    font-size: 13px;
}

.title0 a{
    text-decoration: none;
    color: #fff;
}
.title0 a:hover{
    color: #20a7f5;
}

@media screen and (max-width:992px){
    .card0{
        width: 46vw;
    }
    .title0{
        font-size: 15px;
    }
    .cardParent{
        width: 46vw;
    }
}

@media screen and (max-width:600px){
    .card0{
        width: 98vw;
    }
    .cardParent{
        width: 98vw;
    }
} 

.collapsed{
    display: none;
}

.hideNews2{
    display: none;
    transform: translatex(-101%);
}

.showNews{
    display: flex;
    animation: shiftShowNews 0.25s ease forwards;
}

.hideNews{
    animation: shiftHideNews 0.25s ease forwards;    
}

@keyframes shiftHideNews{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-101%);      
    }
}

@keyframes shiftShowNews{
    0%{
        transform: translateX(-100%); 
    }
    100%{
        transform: translateX(0%);         
    }
}